<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navigation">
      <ul>

      </ul>
    </nav>
    <h1 class="title"><%= title %></h1>
    <p>Just a simple site to demo routing.</p>
    <script src="/javascripts/about.js" type="module"></script>
  </body>
</html>