<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Person</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navigation">
      <ul>

      </ul>
    </nav>
    <h1 class="title"><%= title %></h1>
    <section class="add-person">
      <div class="input-item">
          <label for="name">Name</label>
          <input type="text" name="name" id="name">
      </div>
      <div class="input-item">
          <label for="age">Age</label>
          <input type="number" name="age" id="age">
      </div>
      <button id="add">Add</button>
    </section>
    <script src="/javascripts/addPerson.js" type="module"></script>
  </body>

</html>