<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navigation">
      <ul>

      </ul>
    </nav>
    <h1 class="title"><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="filter">
      <input type="text" name="filter" id="filter">
      <button id="btnfilter">Filter</button>
    </div>
    <section class="people-list">
      
    </section>
    <script src="/javascripts/script.js" type="module"></script>
  </body>
</html>
