:root {
  --nav-border: blue;
  --nav-hover: aquamarine;
}

body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p,
section {
  margin-left: .5rem;
}

h1.title {
  display: block;
  text-align: center;
}

.navigation ul {
  list-style: none;
  text-align: center;
  border-top: 2px solid var(--nav-border);
  border-bottom: 2px solid var(--nav-border);
}

.navigation ul li {
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
  margin-right: 1rem;
  padding: .25rem;
}

.navigation ul li:last-child {
  margin-right: 0;
}

.navigation ul li:hover {
  background-color: var(--nav-hover);
}

.navigation ul li a {
  text-decoration: none;
}

.person .name, .person .age {
  display: inline-block;
}


